header {

    text-align: center;

}



h2 {

    text-align: center;

}



.column1 {

    display: inline-block;

    width: 43%;

    vertical-align: text-top;

    width: 43%;

    vertical-align: text-top;

    margin-left: 150px;

}



.column2 {

    display: inline-block;

    width: 43%;

    vertical-align: text-top;

    margin-left: 20px;

}
